// Logo colors
$headerLogoColor: #000;
$footerLogoColor: #fff;

// Text colors
$primaryTextColor: #212121;
$seconderyTextColor: #757575;
$thirdTextColor: #fff;
$forthTextColor: rgba(255, 255, 255, 0.6);

// Background colors
$mainBgColor: #fff;
$secondaryBgColor: #f5f4fa;

// Icon colors
$mainIconColor: #afb1b8;
$secondaryIconBgColor: rgba(255, 255, 255, 0.1);

// Footer colors
$footerBgColor: #2f303a;

// Accent colors
$accentColor: #2196f3;

// Main Text Style
$fontFamyly: 'Roboto', sans-serif;
$weight: 500;
$size: 14px;
$height: 16px;
$spacing: 0.03em;
